.socials {
    gap: 7px;
    justify-content: flex-start;
    padding-bottom: 30px;

    &__item {
        background-color: $primary-600;

        i {
            font-size: 20px;
            line-height: 20px;
            position: relative;
            top: 15px;
            color: $neutrals-100;
        }
    }
}