/* STANDARD CSS RULES */
.detailHeader {
    padding: 50px 20px 75px 20px;

    .top {
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        &__drivers {
            width: 122px;
        }

        &__info {
            max-width: calc(100% - 122px);

            &__logos {
                justify-content: space-between;
                align-items: center;
                height: 30px;
                margin-bottom: 20px;

                &__team-logo,
                &__driver-logo {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }

            &__title {
                margin-bottom: 20px;
            }
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .detailHeader {
        .top {
            &__info {
                &__title {
                    color: $neutrals-900;
                }

                &__driver-stats {
                    &__item {
                        &__title {
                            color: $neutrals-900;
                        }

                        &__p {
                            color: $neutrals-700;
                        }
                    }
                }
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .detailHeader {
        .top {
            &__info {
                &__title {
                    color: $neutrals-100;
                }

                &__driver-stats {
                    &__item {
                        &__title {
                            color: $neutrals-100;
                        }

                        &__p {
                            color: $neutrals-500;
                        }
                    }
                }
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .detailHeader {
        padding: 50px 50px 75px 50px;

        .top {
            width: 100%;
            justify-content: flex-start;

            &__drivers {
                width: 244px;
                height: 350px;
            }

            &__info {
                width: calc(100% - 244px);

                &__logos {
                    height: 50px;

                    &__team-logo,
                    &__driver-logo {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .detailHeader {
        padding: 125px 120px 125px 120px;

        .top {
            gap: 75px;
            height: auto !important;

            &__drivers {
                width: 285px;
                height: 499px;

                img {
                    border-radius: 0px 0px 30px 30px;
                }

                &.top-team {
                    width: 386px !important;
                    height: 346px !important;

                    img {
                        width: 203px;
                        height: 346px;
                    }
                }
            }

            &__info {
                width: calc(100% - 285px - 75px);

                &__logos {
                    justify-content: flex-start;
                    margin-bottom: 50px;

                    &__team-logo,
                    &__driver-logo {
                        width: 100px;
                        height: 100px;
                    }

                    &__team-logo {
                        width: 130px;
                        padding-right: 30px;
                        display: block;
                        border-right: 1px solid $neutrals-600;
                    }

                    &__driver-logo {
                        margin-left: 30px;
                    }
                }

                &__title {
                    margin-bottom: 50px;
                }

                &__middle {
                    justify-content: space-between;
                    align-items: center;

                    .socials {
                        padding-bottom: 0;
                    }
                }

                &__driver-stats {
                    justify-content: flex-start;
                    gap: 50px;

                    &__item {
                        &__title {
                            text-transform: uppercase;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}