/* STANDARD CSS RULES */
.detailHeader {
    padding: 50px 20px 75px 20px;

    .top {
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        &__drivers {
            width: 122px;
        }

        &__info {
            max-width: calc(100% - 122px);

            &__logos {
                justify-content: space-between;
                align-items: center;
                height: 30px;
                margin-bottom: 20px;

                &__team-logo,
                &__driver-logo {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }

            &__title {
                margin-bottom: 20px;
            }
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .detailHeader {
        .top {
            &__info {
                &__title {
                    color: $neutrals-900;
                }
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .detailHeader {
        .top {
            &__info {
                &__title {
                    color: $neutrals-100;
                }
            }
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .detailHeader {
        .top {
            &__info {
                &__title {
                    color: $neutrals-100;
                }
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .detailHeader {
        padding: 50px 50px 75px 50px;

        .top {
            width: 100%;
            justify-content: flex-start;

            &__drivers {
                width: 244px;
                height: 350px;
            }

            &__info {
                width: calc(100% - 244px);

                &__logos {
                    height: 50px;

                    &__team-logo,
                    &__driver-logo {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
