.driver-team__items {
    margin-top: 50px;

    .item {
        padding: 20px;
        background-color: $neutrals-300;
        border-radius: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;

        &:last-of-type {
            margin-bottom: 0px;
        }

        .flex {
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
        }

        &__icon-bg {
            width: 40px;
            height: 40px;
            background-color: $primary-600;
            border-radius: 10px;
            text-align: center;

            i {
                color: $neutrals-100;
                font-size: 16px;
                line-height: 16px;
                position: relative;
                top: 12px;
            }
        }

        &__title {
            font-family: $primary-font;
            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
        }
    }
}