/* STANDARD CSS RULES */
.section {
    padding: 75px 20px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        color: $neutrals-900;
    }

    .cta__p {
        margin-bottom: 10px;
    }

    .center {
        margin-top: 50px;
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .section {
        &__title {
            color: $neutrals-900;
        }

        .cta__p {
            color: $neutrals-900;
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .section {
        &__title {
            color: $neutrals-100;
        }

        .cta__p {
            color: $neutrals-100;
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .section {
        &__title {
            color: $neutrals-100;
        }

        .cta__p {
            color: $neutrals-100;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .section {
        padding: 75px 50px;

        &__title {
            padding: 0px 100px;
        }

        .cta__p {
            margin-bottom: 10px;
            padding: 0px 100px;
        }
    }
}