.section {
    padding: 75px 20px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    .cta__p {
        margin-bottom: 10px;
    }

    .center {
        margin-top: 50px;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .section {
        &__title {
            color: $neutrals-100;
        }

        .cta__p {
            color: $neutrals-100;
        }
    }
}