.factNumber {
    background-color: $neutrals-200;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__icon-bg {
        background-color: $primary-100;
        margin-bottom: 10px;

        i {
            color: $primary-600;
        }
    }

    &__title {
        margin-bottom: 10px;
        color: $neutrals-900;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .factNumber {
        background-color: $neutrals-800;

        &__title {
            color: $neutrals-100;
        }

        &__p {
            color: $neutrals-500;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .factNumber {
        margin: 0px 100px 20px 100px;
    }
}