.nav {
    padding: 0px 20px;
    position: relative;
    z-index: 1;

    .mobile {
        width: 100%;
        height: 66px;

        justify-content: space-between;
        align-items: center;

        .burger {
            display: block;
            width: 20px;

            .line {
                width: 20px;
                background-color: $neutrals-900;
                height: 2px;
                margin-top: 3px;
                transition: all 0.3s ease;
                position: relative;
                z-index: 2;

                &:first-of-type {
                    margin-top: 0;
                }

                &.line2 {
                    width: 15px;
                    margin-right: auto;
                }
            }
        }

        .profile {
            width: 36px;
            height: 36px;
            background-color: $neutrals-900;
            border-radius: 50%;
            text-align: center;

            &__icon {
                position: relative;
                font-size: 16px;
                top: 8px;
                color: $neutrals-100;
            }
        }
    }
}
