.nav {
    padding: 0px 20px;
    position: relative;
    z-index: 1;

    .mobile {
        width: 100%;
        height: 66px;
        justify-content: space-between;
        align-items: center;

        .nav-links {
            display: none;
        }

        .burger {
            display: block;
            width: 20px;

            .line {
                width: 20px;
                background-color: $neutrals-900;
                height: 2px;
                margin-top: 3px;
                transition: all 0.3s ease;
                position: relative;
                z-index: 2;

                &:first-of-type {
                    margin-top: 0;
                }

                &.line2 {
                    width: 15px;
                    margin-right: auto;
                }
            }
        }

        .profile {
            background-color: $neutrals-900;

            &__icon {
                color: $neutrals-100;
            }
        }
    }
}

/* MOBILE DARK MODE */
@media (prefers-color-scheme: dark) {
    .nav {
        .mobile {
            .burger {
                .line {
                    background-color: $neutrals-100;
                }
            }

            .profile {
                background-color: $neutrals-100;

                &__icon {
                    color: $neutrals-900;
                }
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        padding: 7px 50px;

        .mobile {
            height: 80px;
        }
    }
}