.latestGP {
    padding: 50px 20px;
    margin: 0px 20px 75px 20px; //problem?
    background-color: $primary-100;
    border-radius: 30px;
    text-align: center;

    &__title {
        margin-bottom: 10px;
    }

    &__paragraph {
        margin-bottom: 30px;
        color: $neutrals-900;
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .latestGP {
        padding: 50px 50px;
        margin: 0px 120px 75px 120px; //problem?
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .latestGP {
        &__paragraph {
            max-width: 591px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}