.button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;

    border-radius: 50px;
    border: none;
    color: $neutrals-100;

    font-family: $primary-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.button-primary {
        background-color: $primary-600;
    }

    &.button-tertiary, &.button-secondary  {
        background-color: $neutrals-900;
    }

    // Saved Blogposts
    &.saved {
        padding: 10px;
        border-radius: 50%;

        width: 36px;
        height: 36px;
        text-align: center;
    }

    &.edit {
        padding: 10px;
        border-radius: 50%;

        width: 40px;
        height: 40px;
        text-align: center;
    }
}