.button {
    i {
        font-size: 12px;
    }

    .first-chevron {
        margin-left: $icon-margin-button;
    }

    &.button-primary, &.button-secondary {
        &:hover {
            .first-chevron {
                margin-left: $icon-margin-button-hover;
            }
        }
    }
}

.tag {
    i {
        margin-right: $icon-margin-button;
    }
}