/* STANDARD CSS RULES */
.article {
    border-radius: 20px;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__img {
        width: 100%;
        height: auto !important;
        aspect-ratio: 3/2 !important;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    &__content {
        padding: 20px;

        &__top {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__paragraph {
            margin-bottom: 30px;
        }

        &__bottom {
            justify-content: space-between;
            align-items: center;

            .button {
                background-color: $neutrals-900;
            }

            .icon-bg {
                background-color: $neutrals-900;

                i {
                    color: $neutrals-100;
                }
            }
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .article {
        background-color: $neutrals-200;
    
        &__content {
            &__title {
                color: $neutrals-900;
            }

            &__top {
                .detail {
                    color: $neutrals-900;
                }
            }
    
            &__paragraph {
                color: $neutrals-700;
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .article {
        background-color: $neutrals-800;
    
        &__content {
            &__top {
                .detail {
                    color: $neutrals-100;
                }
            }

            &__title {
                color: $neutrals-100;
            }
    
            &__paragraph {
                color: $neutrals-500;
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .article {
        &__img {
            height: 309px;
        }
    }
}