@import './spacers';

.desktop {
    display: none !important;
}

.light {
    display: block;
}

.dark {
    display: none;
}

[data-theme="light"] {
    .light {
        display: block;
    }
    
    .dark {
        display: none;
    }
}

[data-theme="dark"] {
    .light {
        display: none;
    }
    
    .dark {
        display: block;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .light {
        display: none;
    }

    .dark {
        display: block;
    }
}

/* DESKTOP */
@media only screen and (min-width: $desktop-1) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block !important;
    }
}