/* STANDARD CSS RULES */
.grandprixDetail {
    .banner {
        background-color: $neutrals-200;
        width: 100%;
        height: 214px;

        &__bg {
            width: 100%;
            height: 150px;
            background-image: url(./gp-detail-img.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__info {
            height: 64px;
            position: relative;

            &__circuit {
                position: absolute;
                top: -50px;
                left: 20px;
                width: 100px;
                height: 100px;

                background-color: $neutrals-500;
                border: 4px solid $neutrals-200;
                border-radius: 50%;
                text-align: center;

                &__img {
                    width: 75px;
                    position: relative;
                    transform: translate(-60%, -50%);
                    top: 50%;
                    left: 50%;
                }
            }

            .button {
                position: absolute;
                transform: translate(0, -50%);
                top: 50%;
                right: 20px;

                i {
                    margin-right: 7px;
                }
            }
        }
    }

    &__articles {
        padding-top: 50px;

        .article {
            &:last-of-type {
                margin-bottom: 50px;
            }
        }

        .center {
            .button {
                background-color: $neutrals-900;
            }
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .grandprixDetail {
        .banner {
            background-color: $neutrals-200;

            &__info {
                &__circuit {
                    background-color: $neutrals-500;
                    border: 4px solid $neutrals-200;
                }
            }
        }

        &__articles {
            .center {
                .button {
                    background-color: $neutrals-900;
                }
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .grandprixDetail {
        .banner {
            background-color: $neutrals-800;

            &__info {
                &__circuit {
                    border: 4px solid $neutrals-800;
                }
            }
        }

        &__articles {
            .center {
                .button {
                    background-color: $neutrals-800;
                }
            }
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .grandprixDetail {
        .banner {
            background-color: $neutrals-800;

            &__info {
                &__circuit {
                    border: 4px solid $neutrals-800;
                }
            }
        }

        &__articles {
            .center {
                .button {
                    background-color: $neutrals-800;
                }
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .grandprixDetail {
        .banner {
            height: 364px;

            &__bg {
                height: 300px;
            }

            &__info {
                &__circuit {
                    left: 50px;
                }

                .button {
                    right: 50px;
                }
            }
        }

        &__articles {
            padding: 50px 150px 75px 150px;
        }
    }
}
