.benefits {
    text-align: center;
    background-color: $neutrals-100;

    &__title {
        margin-bottom: 10px;
    }

    &__p {
        margin-bottom: 50px;
        color: $neutrals-700;
    }

    &__items {
        margin-bottom: 50px;

        .benefit {
            background-color: $neutrals-200;
            border-radius: 20px;
            padding: 20px;
            text-align: left;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }

            .icon-bg-lg {
                margin-bottom: 10px;
                background-color: $primary-100;

                i {
                    color: $primary-600;
                }
            }

            &__title {
                margin-bottom: 10px;
            }

            &__p {
                color: $neutrals-700;
            }
        }
    }
}