.formPage {
    padding-top: 50px;

    .title {
        margin-bottom: 3px;
    }

    .p {
        margin-bottom: 30px;
        color: $neutrals-700;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .formPage {
        .title {
            color: $neutrals-100;
        }
    
        .p {
            color: $neutrals-500;
        }
    }
}