/* STANDARD CSS RULES */
.formPage {
    padding-top: 50px;

    .title {
        margin-bottom: 3px;
        color: $neutrals-900;
    }

    .p {
        margin-bottom: 30px;
        color: $neutrals-700;
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .formPage {
        .title {
            color: $neutrals-900;
        }

        .p {
            color: $neutrals-700;
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .formPage {
        .title {
            color: $neutrals-100;
        }

        .p {
            color: $neutrals-500;
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .formPage {
        .title {
            color: $neutrals-100;
        }

        .p {
            color: $neutrals-500;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .formPage {
        padding: 50px 150px 75px 150px;
    }
}