/* STANDARD CSS RULES */
.formPage {
    padding-top: 50px;

    .title {
        margin-bottom: 3px;
    }

    .p {
        margin-bottom: 30px;
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .formPage {
        .title {
            color: $neutrals-900;
        }

        .p {
            color: $neutrals-700;
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .formPage {
        .title {
            color: $neutrals-100;
        }

        .p {
            color: $neutrals-500;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .formPage {
        padding: 50px 150px 75px 150px;
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .formPage {
        padding: 50px 300px 75px 300px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .formPage {
        padding: 75px 428px 125px 424px;
    }
}