/* STANDARD CSS RULES */
.howsignup {
    text-align: center;

    &__title {
        margin-bottom: 10px;
    }

    &__p {
        margin-bottom: 50px;
    }

    &__steps {
        margin-bottom: 50px;
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .howsignup {
        background-color: $neutrals-100;
    
        &__p {
            color: $neutrals-700;
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .howsignup {
        background-color: $neutrals-900;

        &__title {
            color: $neutrals-100;
        }

        &__p {
            color: $neutrals-500;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .howsignup {
        &__p {
            padding: 0px 100px;
        }

        &__steps {
            padding: 0px 100px;
        }
    }
}