.login__img {
    display: none;
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .login {
        padding: 125px 222px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 122px;

        &__form {
            .custom-form__no-acc {
                margin-bottom: 0;
            }
        }

        &__content {
            width: calc(100% - 488px - 122px);
        }

        &__img {
            display: block;
            width: 488px;
            height: 498px;
            object-fit: cover;
            border-radius: 30px;
            object-position: 0 center;
        }
    }
}