.homePage {
    .Navbar {
        /* SLIDING NAV */
        .nav-items {
            /* SITEMAP */
            .links {
                &.nav-website {
                    display: flex !important;
                }

                &.nav-webapp {
                    display: none !important;
                }
            }

            /* PROFILE + SIGNOUT BUTTON */
            .bottom {
                .button {
                    &.nav-website {
                        display: block !important;
                    }

                    &.nav-webapp {
                        display: none !important;
                    }
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .homePage {
        .Navbar {
            .links-desktop {
                &.nav-website {
                    display: flex !important;
                }

                &.nav-webapp {
                    display: none !important;
                }
            }

            .toggle-container {
                &.desktop {
                    right: 243px;
                }
            }

            .nav-website {
                display: block !important;
            }

            .nav-webapp {
                display: none !important;
            }
        }
    }
}

/* DESKTOP 1600PX */
@media only screen and (min-width: $desktop-5) {
    .homePage {
        .Navbar {
            .toggle-container {
                &.desktop {
                    right: 323px;
                }
            }
        }
    }
}

/* DESKTOP 1920PX */
@media only screen and (min-width: $desktop-hd) {
    .homePage {
        .Navbar {
            .toggle-container {
                &.desktop {
                    right: 483px;
                }
            }
        }
    }
}

/* DESKTOP 2560PX */
@media only screen and (min-width: $desktop-qhd) {
    .homePage {
        .Navbar {
            .toggle-container {
                &.desktop {
                    right: 803px;
                }
            }
        }
    }
}

/* DESKTOP 3440PX */
@media only screen and (min-width: $desktop-wqhd) {
    .homePage {
        .Navbar {
            .toggle-container {
                &.desktop {
                    right: 1243px;
                }
            }
        }
    }
}

/* DESKTOP 3840PX */
@media only screen and (min-width: $desktop-4k) {
    .homePage {
        .Navbar {
            .toggle-container {
                &.desktop {
                    right: 1443px;
                }
            }
        }
    }
}