.homePage {
    .Navbar {
        /* SLIDING NAV */
        .nav-items {
            /* SITEMAP */
            .links {
                &.nav-website {
                    display: flex !important;
                }

                &.nav-webapp {
                    display: none !important;
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .homePage {
        .Navbar {
            .links-desktop {
                &.nav-website {
                    display: flex !important;
                }

                &.nav-webapp {
                    display: none !important;
                }
            }
        }
    }
}
