/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .moreRecentNews {
        &__articles {
            margin: 0px 100px;
        }
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .moreRecentNews {
        &__articles {
            margin: 0px 0px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .article {
                margin-bottom: 0;
                
                &__img {
                    height: 200px;
                }
            }
        }
    }
}