.subnav {
    background-color: $neutrals-300;
    position: relative;

    &__list {
        list-style-type: none;

        &__item {
            display: none;
            height: 50px;

            &.active {
                display: block;
            }

            &:first-of-type {
                display: block;
            }

            &__link {
                padding: 17px 20px 0px 20px;
                display: block;
                width: 100%;
                height: 100%;

                font-family: $primary-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    &__icon {
        font-size: 16px;
        line-height: 16px;
        color: $neutrals-900;
        position: absolute;
        right: 20px;
        top: 17px;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .subnav {
        background-color: $neutrals-800;

        &__list {
            &__item {
                &__link {
                    color: $neutrals-100;
                }
            }
        }

        &__icon {
            color: $neutrals-100;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .subnav {
        &__list {
            &__item {
                &__link {
                    padding: 17px 50px 0px 50px;
                }
            }
        }

        &__icon {
            right: 50px;
        }
    }
}
