/* STANDARD CSS RULES */
.standing {
    width: 100%;
    height: 170px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 0;

    &__top {
        justify-content: flex-start;
        align-items: center;

        &__team-logo {
            padding-right: 20px;

            &__img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }

        &__driver {
            padding-left: 20px;
            border-left: 1px solid $neutrals-900;
        }
    }

    &__bottom {
        &__place {
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 7px;

            .standing-div-border {
                padding-right: 10px;
            }

            &__div {
                border-radius: 0;

                &:first-of-type {
                    padding-right: 10px;
                }

                &:last-of-type {
                    padding-left: 10px;
                    border-left: 1px solid $neutrals-900;
                }
            }
        }

        &__points {
            font-weight: 600;
            color: $neutrals-900;
        }
    }

    &__number {
        font-family: $primary-font;
        font-size: 75px;
        font-weight: 500;
        line-height: 59px;

        position: absolute;
        bottom: 20px;
        right: 170px;
    }

    &__driver-img {
        position: absolute;
        right: 20px;
        bottom: 0;
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .standing {
        &__bottom {
            &__place {
                &__div {
                    color: $neutrals-900;
                }
            }

            &__points {
                color: $neutrals-900;
            }
        }

        .detail {
            color: $neutrals-900 !important;
        }
    }
}

/* DARK THEME COLORS - SAME AS LIGHT MODE AT THE MOMENT */
/*[data-theme="dark"] {
    .standing {
        background-color: $neutrals-800;

        &__top {
            &__driver {
                border-left: 1px solid $neutrals-100;

                &__lastname {
                    color: $neutrals-100;
                }

                &__teamname {
                    color: $neutrals-100;
                }
            }
        }
    
        &__bottom {
            &__place {
                &__div  {
                    &:last-of-type {
                        border-left: 1px solid $neutrals-100;
                    }
                }
            }
    
            &__points {
                color: $neutrals-100;
            }
        }

        .detail {
            color: $neutrals-100;
        }
    }
}*/
