.grandprixs {
    .latestGP {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .grandprixs-section {
        text-align: center;
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .grandprixs {
        .grandprixs-section {
            &__items {
                padding: 0px 100px;
            }
        }
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .grandprixs {
        .grandprixs-section {
            &__items {
                padding: 0px 0px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .grandprix {
                    margin-bottom: 0;
                }
            }
        }
    }
}