/* STANDARD CSS RULES */
.savedBlogposts {
    padding-top: 50px;
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .savedBlogposts {
        .center {
            .button {
                background-color: $neutrals-900;
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .savedBlogposts {
        .center {
            .button {
                background-color: $neutrals-800;
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .savedBlogposts {
        padding: 50px 150px 75px 150px;
    }
}