.platform {
    background-color: $neutrals-200;

    &__title {
        margin-bottom: 50px;
    }

    &__items {
        margin-bottom: 50px;
    }

    .signup {
        background-color: $primary-100;
        padding: 20px;
        border-radius: 20px;

        &__content {
            margin-bottom: 20px;

            &__title, &__p {
                color: $neutrals-900;
            }
        }
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .platform {
        background-color: $neutrals-800;
    
        &__title {
            color: $neutrals-100;
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .platform {
        &__items {
            padding: 0px 100px;
        }
    
        .signup {
            margin: 0px 100px;
        }
    }
}