/* LIGHT THEME COLORS */
[data-theme="light"] {
    .teamPage {
        .moreRecentNews {
            .center {
                .button {
                    background-color: $neutrals-900;
                }
            }
        }

        .recentShots {
            background-color: $neutrals-200;
        }
    
        .mightAlsoLike {
            background-color: $neutrals-100;

            .driver-team {
                background-color: $neutrals-200;
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .teamPage {
        .recentShots {
            background-color: $neutrals-800;
        }
    
        .mightAlsoLike {
            background-color: $neutrals-900;

            .driver-team {
                background-color: $neutrals-800;
            }
        }

        .moreRecentNews {
            .center {
                .button {
                    background-color: $neutrals-800;
                }
            }
        }
    }
}