.payment {
    padding-top: 50px;

    &__title {
        margin-bottom: 3px;
    }

    &__p {
        margin-bottom: 30px;
        color: $neutrals-700;
    }

    .form__inputs-container {
        margin-bottom: 30px;
    }
}