/* STANDARD CSS RULES */
.blogPage {
    .moreRecentNews {
        .center {
            .button {
                background-color: $neutrals-900;
            }
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .blogPage {
        .moreRecentNews {
            .center {
                .button {
                    background-color: $neutrals-900;
                }
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .blogPage {
        .moreRecentNews {
            .center {
                .button {
                    background-color: $neutrals-800;
                }
            }
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .blogPage {
        .moreRecentNews {
            .center {
                .button {
                    background-color: $neutrals-800;
                }
            }
        }
    }
}