/* STANDARD CSS RULES */
.blogSearch {
    padding: 50px 20px 50px 20px;
    text-align: center;
    background-color: $neutrals-200;

    &__title {
        margin-bottom: 10px;
        color: $neutrals-900;
    }

    &__p {
        color: $neutrals-700;
        margin-bottom: 30px;
    }

    &__form {
        text-align: center;

        &__input {
            display: block;
            width: 100%;
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: $neutrals-900;
            padding: 14px 20px;
            text-align: center;
            border: 1px solid $neutrals-600;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .blogSearch {
        background-color: $neutrals-200;

        &__title {
            color: $neutrals-900;
        }

        &__p {
            color: $neutrals-700;
        }

        &__form {
            &__input {
                color: $neutrals-900;
                border: 1px solid $neutrals-600;
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .blogSearch {
        background-color: $neutrals-800;

        &__title {
            color: $neutrals-100;
        }

        &__p {
            color: $neutrals-500;
        }

        &__form {
            &__input {
                color: $neutrals-900;
                border: 1px solid $neutrals-700;
            }
        }
    }
}

/* DARK THEME COLORS - VIA OPERATING SYSTEM */
@media (prefers-color-scheme: dark) {
    .blogSearch {
        background-color: $neutrals-800;

        &__title {
            color: $neutrals-100;
        }

        &__p {
            color: $neutrals-500;
        }

        &__form {
            &__input {
                color: $neutrals-900;
                border: 1px solid $neutrals-700;
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .blogSearch {
        padding: 50px 150px 50px 150px;
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .blogSearch {
        padding: 50px 300px 50px 300px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .blogSearch {
        padding: 50px 345px 50px 345px;

        &__form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &__input {
                width: 203px;
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
}